<ion-header>

  <ion-navbar>
    <ion-title>Student: Lectures</ion-title>

   <ion-buttons end>
     <button ion-button icon-only (click)="getLectures()"><ion-icon name="refresh"></ion-icon> </button>
    <button ion-button item-end clear icon-only (click)="navigateToClassesSPage()"><ion-icon name="home"></ion-icon></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <br><h1> Lectures for: <b>{{this.className}}</b></h1>
<br>
<h1>Select a lecture from the list to vote on its topics: </h1>
<br>
	<div *ngIf="lecturesReady">
    <ion-list>
      <ion-item *ngFor="let lecture of lectureList">
        <ion-label>{{lecture.name}}</ion-label>
        <ion-radio (click)="navigateToTopicsForThisLectureStudent(lecture.name)"> </ion-radio>
        <!-- <ion-radio icon-only (click)="navigateToTopicsForThisLectureStudent(lecture.name)" value="{{class.name}}"></ion-radio> -->
      </ion-item>
    </ion-list>
  </div>

</ion-content>
