<ion-header>

  <ion-navbar color="prof">
    <ion-title>Student: Lectures</ion-title>

    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="getLectures()"><ion-icon name="refresh"></ion-icon> </button> -->
      <button ion-button item-end clear icon-only (click)="navigateToClassesSPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <br>

<div class="center">
<h1><b>{{this.className}}</b> Lectures</h1></div>
<p>Select a lecture to vote on its topics: </p>
<ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
	<div *ngIf="lecturesReady">
    <ion-list>
      <ion-item *ngFor="let lecture of lectureList">
        <ion-label>{{lecture.name}}</ion-label>
        <ion-radio (click)="navigateToTopicsForThisLectureStudent(lecture.name)" color="list-items"> </ion-radio>
        <!-- <ion-radio icon-only (click)="navigateToTopicsForThisLectureStudent(lecture.name)" value="{{class.name}}"></ion-radio> -->
      </ion-item>
    </ion-list>
  </div>

</ion-content>