<ion-header>

  <ion-navbar>
    <ion-title><b>PROFESSOR HOME</b></ion-title>

      <ion-buttons end>
        <button ion-button icon-only (click)="getTopics()"><ion-icon name="refresh"></ion-icon> </button>
    <button ion-button item-end clear icon-only (click)="getClasses()"><ion-icon name="home"></ion-icon></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <br>

  <h1> Create a new class or select a class with the arrow button to view its lectures: </h1>
<br>
  <ion-row>
    <ion-col col-9>
      <ion-item>
        <ion-input type="text" [(ngModel)]="newClass" placeholder="New Class"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="addClass()">Add!</button>
    </ion-col>
  </ion-row>

  <div *ngIf="ready">
    <ion-list *ngFor="let class of classList">
      <ion-item>
        <ion-label>{{class.name}}</ion-label>

        <button ion-button item-end clear icon-only (click)="navigateToLecturesForThisClass(class.name)" class="butt"> <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></button>

        <button ion-button item-end clear icon-only (click)="removeClass(class.name)" class="butt"><ion-icon name="trash" color="danger"></ion-icon></button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
