<ion-header>

  <ion-navbar>
    <ion-title>manage-p</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<button ion-button (click)="navigateToLecturesPPage()">PROFESSOR LECTURE PAGE</button>
	<p>
		On this page professors can:
</p>
<ul>
	<li>Create a new class</li>
	<li>View classes they are already teaching or "enrolled" in</li>
	<li>Edit and delete current classes</li>
	<li>Select a class to move into its lecture page</li>
</ul>


  <h1> Create a new class:</h1>

  <ion-row>
    <ion-col col-9>
      <ion-item>
        <ion-input type="text" [(ngModel)]="newClass" placeholder="New Class"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="addClass()">Add!</button>
    </ion-col>
  </ion-row>

  <div *ngIf="ready">
    <ion-list *ngFor="let class of classList">
      <ion-item>
        <ion-label>{{class.name}}</ion-label>
        <button ion-button item-end clear icon-only (click)="removeClass(class.name)" class="butt"><ion-icon name="close"></ion-icon></button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
