page-home {
    .home-button {
      //margin-left: 50%;
      //text-align: center;
    }
}

// .radio-icon {
//   display: none;
// }
//
// .item-radio-checked.item-md ion-label {
//   color: black;
// }
//
// .radio-md .radio-icon {
//   display: none;
// }

#link {
  color: #488aff;
}

#logo {
  position: relative;
  left: 7.5%;
}
