<ion-header>

  <ion-navbar>
    <ion-title>Student: View Classes</ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="getClasses()"><ion-icon name="refresh"></ion-icon> </button>
    <button ion-button item-end clear icon-only (click)="getClasses()"><ion-icon name="home"></ion-icon></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<!-- <button ion-button (click)="navigateToLecturesSPage()">STUDENT lecture page</button> -->
	<!-- <p>
		On this page <b>students </b> can:
	</p> -->
<!-- 	<ul>
		<li> Query for course</li>
		<li> Add course to their schedule</li>
		<li> View and select classes currently on their schedule</li>
	</ul> -->

	<!-- FILLER - DO THIS!!! -->
	<h2> Search for a course and add it to your schedule here: TODO</h2>

	<h1> Select an already-added class to view its lectures:</h1>
	<div *ngIf="ready">
    <ion-list *ngFor="let class of classList">
      <ion-item>
        <ion-label>{{class.name}}</ion-label>

        <button ion-button item-end clear icon-only (click)="navigateToLecturesForThisClassStudent(class.name)" class="butt"> <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></button>


      </ion-item>
    </ion-list>
  </div>


</ion-content>
