<ion-header>

  <ion-navbar>
    <ion-title>Student: View and Vote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<h1> View topics from that lecture. Check the box on the left if you are confused about a topic!</h1>
	<div *ngIf="topicsReady">
    <ion-list *ngFor="let topic of topicList">
      <ion-item>
        <ion-label>{{topic.name}}</ion-label>

        <ion-checkbox [(ngModel)]="topicsCheckedMap[topic.name]" (ionChange)="updateVote(topic.name);">
        </ion-checkbox>

      </ion-item>
    </ion-list>
  </div>

  <div>
     <button ion-button (click)="navigateToResultsForThisLectureStudent()" class="butt">See Results</button>
 </div>



</ion-content>
