<ion-header>

  <ion-navbar color="prof">
    <ion-title>Student: Topics</ion-title>
    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="getTopics()"><ion-icon name="refresh"></ion-icon> </button> -->
      <button ion-button item-end clear icon-only (click)="navigateToClassesSPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <p>some menu content, could be list items</p>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <br>
  <div class="center">
    <h1> Topics for:
      <b> {{className}}</b>, Lecture:
      <b>{{lectureName}} </b>
    </h1>
  </div>

  <p>Here are topics from that lecture. Check the box on the left if you are confused about a topic!</p>
  <div *ngIf="topicsReady">
    <ion-list *ngFor="let topic of topicList">
      <ion-item>
        <ion-label>{{topic.name}}</ion-label>

        <ion-checkbox [(ngModel)]="topicsCheckedMap[topic.name]" (ionChange)="updateVote(topic.name);" color="danger">
        </ion-checkbox>

        <button ion-button item-end clear icon-only (click)="addComment(topic.name)" class="butt" style="padding:10px" color="comment">
          <ion-icon name="chatbubbles"></ion-icon>
        </button>

      </ion-item>
    </ion-list>
  </div>
  <br>
  <div class="center">
    <button ion-button (click)="navigateToResultsForThisLectureStudent()" class="butt" color="butt">See Results</button>
  </div>



</ion-content>