<ion-header>

  <ion-navbar color="prof">

    <ion-title class="center"><img height=40 src="../../assets/imgs/newlogo1.png"></ion-title>

    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="getLectures()">
        <ion-icon name="refresh"></ion-icon>
      </button> -->
      <button ion-button item-end clear icon-only (click)="navigateToManagePPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <br>
  <div class="center">
    <h1> Lectures for:
      <b>{{this.className}}</b>
    </h1>
  </div>
  <br>
  <h2>Create a new lecture or select an existing lecture to go to its list of topics: </h2>
  <br>
  <ion-row>
    <ion-col col-9>
      <ion-item>
        <ion-input type="text" [(ngModel)]="newLecture" placeholder="New Lecture"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="addLectures()" color="butt">Add!</button>
    </ion-col>
  </ion-row>

  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <div *ngIf="lecturesReady">
    <ion-list>
      <ion-item *ngFor="let lecture of lectureList">
        <ion-label>{{lecture.name}}</ion-label>

        <ion-radio (click)="navigateToTopicsForThisLecture(lecture.name)" color="list-items"></ion-radio>
        <!--<button ion-button item-end clear icon-only (click) ="navigateToResultsPage" class="butt" style="padding:10px">
          <ion-icon name="arrow-dropright"></ion-icon>
        </button> -->
        <button ion-button item-end clear icon-only (click)="editLecture(lecture.name)" class="butt" style="padding:10px" color="comment">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button item-end clear icon-only (click)="removeLectures(lecture.name)" class="butt">
          <ion-icon name="trash" color="danger"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>



</ion-content>
