
<ion-header>

  <ion-navbar>
    <ion-title>Professor: Lectures for <span id="currClass"></span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<button ion-button (click)="navigateToResultsPage()">Results Page</button>

	<!-- <p>On this page professors can: </p>
	<ul>
		<li>Add new lectures with some sort of ID</li>
		<li>Remove or edit name of current lectures</li>
		<li>Add list of associated topics to each lecture</li>
		<li>Edit or remove topics</li>
		<li>Reset vote counts for any topics</li>
		<li>No checkbox voting feature here</li>
	</ul>
 -->
<h1> Current viewing lectures for class: <b><span id="currClass"></span></b></h1>
<br>
<h2>Create a new lecture or select an existing lecture to go to its list of topics: </h2>

<ion-row>
    <ion-col col-9>
      <ion-item>
        <ion-input type="text" [(ngModel)]="newLecture" placeholder="New Lecture"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="addLectures()">Add!</button>
    </ion-col>
  </ion-row>

  <div *ngIf="lecturesReady">
    <ion-list *ngFor="let lecture of lectureList">
      <ion-item>
        <ion-label>{{lecture.name}}</ion-label>

        <button ion-button item-end clear icon-only (click)="navigateToTopicsForThisLecture(lecture.name)" class="butt"> <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></button>
        <<!-- button ion-button (click) ="navigateToResultsPage" class="butt"></button>
 -->
        <button ion-button item-end clear icon-only (click)="removeLectures(lecture.name)" class="butt"><ion-icon name="trash" color="danger"></ion-icon></button>
      </ion-item>
    </ion-list>
  </div>



</ion-content>
